@using Ogd.Movies.Web.Models
@model ResultViewModel

@if (Model.Title == null)
{
    <H2>"There is no movie found with this title"</H2>
}
else
{
    <h2>@Html.DisplayFor(model => model.Title)</h2>

    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Plot)</th>
            <td>@Html.DisplayFor(model => model.Plot)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Year)</th>
            <td>@Html.DisplayFor(model => model.Year)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Genre)</th>
            <td>@Html.DisplayFor(model => model.Genre)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Actors)</th>
            <td>@Html.DisplayFor(model => model.Actors)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Language)</th>
            <td>@Html.DisplayFor(model => model.Language)</td>
        </tr>
    </table>

    <p>
        @if (Model.Poster != "N/A")
        {
            <img src="@Url.Content(Model.Poster)" />
        }
    </p>

    <div>
        @if (Model.YoutubeMovies.Count == 0)
        {
        <p>No youtube trailer found for <b>@Model.Title</b></p>
        }
        else
        {
            @foreach (var item in Model.YoutubeMovies)
            {
                <iframe width="560" height="315" src="https://www.youtube.com/embed/@item.VideoId" ; frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }
        }
    </div>

    @Html.ActionLink("Back", "Index")
}

